@import "tailwindcss";

/* Minimal CSS for react-select - necessary for library integration */
.react-select-container {
  width: 100%;
}

.react-select__control {
  border-color: rgb(209 213 219);
  box-shadow: none;
}

.react-select__control:hover {
  border-color: rgb(59 130 246);
}

.react-select__control--is-focused {
  border-color: rgb(59 130 246);
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

.react-select__menu {
  z-index: 9999;
}
